/* Topmost declarations */
/* TODO: Use constant for sizing, colors, etc */

:root {
  background-color: black;

  /* Internal tests */
  --custom-root: 0;
}

/* Internal tests */
html {
  --custom-html: 0;
}

/* Internal tests */
body {
  --custom-body: 0;
}
